<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lead.system.mapper.SysUserMapper">

    <resultMap type="com.lead.common.core.domain.entity.SysUser" id="SysUserResult">
        <id property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="nickName" column="nick_name"/>
        <result property="email" column="email"/>
        <result property="phonenumber" column="phonenumber"/>
        <result property="sex" column="sex"/>
        <result property="avatar" column="avatar"/>
        <result property="password" column="password"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="loginIp" column="login_ip"/>
        <result property="loginDate" column="login_date"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="alias" column="alias"/>
        <result property="address" column="address"/>
        <result property="qrCode" column="qr_code"/>
        <result property="telephone" column="telephone"/>
        <result property="syncSwitch" column="sync_switch"/>
        <result property="syncStatus" column="sync_status"/>
        <collection property="depts" javaType="java.util.List" resultMap="DeptResult"/>
        <collection property="roles" javaType="java.util.List" resultMap="RoleResult"/>
        <collection property="posts" javaType="java.util.List" resultMap="PostResult"/>
        <collection property="sysUserDepts" javaType="java.util.List" resultMap="SysUserDeptResult"/>
    </resultMap>

    <resultMap id="PostResult" type="com.lead.common.core.domain.entity.SysPost">
        <id property="postId" column="post_id"/>
        <result property="postName" column="post_name"/>
    </resultMap>

    <resultMap id="SysUserDeptResult" type="com.lead.common.core.domain.entity.SysUserDept">
        <result property="postId" column="post_id"/>
        <result property="deptId" column="dept_id"/>
        <result property="orderNum" column="du_order_num"/>
        <result property="postName" column="post_name"/>
        <result property="isLeader" column="is_leader"/>
    </resultMap>

    <resultMap id="DeptResult" type="com.lead.common.core.domain.entity.SysDept">
        <id property="deptId" column="dept_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="deptName" column="dept_name"/>
        <result property="fullName" column="full_name"/>
        <result property="orderNum" column="order_num"/>
        <result property="leader" column="leader"/>
        <result property="status" column="dept_status"/>
    </resultMap>


    <resultMap id="RoleResult" type="com.lead.common.core.domain.entity.SysRole">
        <id property="roleId" column="role_id"/>
        <result property="roleName" column="role_name"/>
        <result property="roleKey" column="role_key"/>
        <result property="roleSort" column="role_sort"/>
        <result property="dataScope" column="data_scope"/>
        <result property="status" column="role_status"/>
    </resultMap>


    <resultMap type="com.lead.common.core.domain.entity.SysUser" id="SysUserListResult">
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="nickName" column="nick_name"/>
        <result property="alias" column="alias"/>
        <result property="phonenumber" column="phonenumber"/>
        <result property="email" column="email"/>
        <result property="telephone" column="telephone"/>
        <result property="qrCode" column="qr_code"/>
        <result property="status" column="status"/>
        <result property="sex" column="sex"/>
        <result property="address" column="address"/>
        <result property="avatar" column="avatar"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="deptIds" column="dept_ids"
                typeHandler="com.lead.common.database.typehandler.IntegerArrayTypeHandler"/>
        <result property="isLeaderInDept" column="is_leader_in_dept"
                typeHandler="com.lead.common.database.typehandler.IntegerArrayTypeHandler"/>
        <result property="orders" column="orders"
                typeHandler="com.lead.common.database.typehandler.LongArrayTypeHandler"/>
        <result property="deptNames" column="dept_names"
                typeHandler="com.lead.common.database.typehandler.StringArrayTypeHandler"/>
    </resultMap>

    <sql id="selectUserVo">
        select u.user_id,
               u.user_name,
               u.nick_name,
               u.email,
               u.avatar,
               u.qr_code,
               u.phonenumber,
               u.password,
               u.alias,
               u.telephone,
               u.sex,
               u.status,
               u.del_flag,
               u.login_ip,
               u.login_date,
               u.create_by,
               u.create_time,
               u.update_by,
               u.update_time,
               u.remark,
               u.sync_switch,
               u.sync_status,
               d.dept_id,
               d.parent_id,
               d.dept_name,
               d.order_num,
               d.status     as dept_status,
               r.role_id,
               r.role_name,
               r.role_key,
               r.role_sort,
               r.data_scope,
               r.status     as role_status,
               u.sync_switch,
               u.address,
               dr.post_id,
               dr.is_leader,
               p.post_name,
               dr.order_num AS du_order_num
        from sys_user u
                 left join sys_user_dept dr on u.user_id = dr.user_id
                 left join sys_post p on p.post_id = dr.post_id
                 left join sys_dept d on d.dept_id = dr.dept_id
                 left join sys_user_role ur on u.user_id = ur.user_id
                 left join sys_role r on r.role_id = ur.role_id
    </sql>

    <select id="selectUserByUserName" parameterType="String" resultMap="SysUserResult">
        <include refid="selectUserVo"/>
        where u.user_name = #{userName}
        order by dr.order_line
    </select>

    <select id="selectUserByPhone" parameterType="String" resultMap="SysUserResult">
        <include refid="selectUserVo"/>
        where u.phonenumber = #{phone}
        order by dr.order_line
    </select>

    <select id="selectUserById" parameterType="Long" resultMap="SysUserResult">
        <include refid="selectUserVo"/>
        where u.user_id = #{userId}
        order by dr.order_line
    </select>


    <select id="selectUserByAuth" resultType="com.lead.common.core.domain.entity.SysUser" resultMap="SysUserResult">
        select u.user_id,
        u.user_name,
        u.nick_name,
        u.email,
        u.avatar,
        u.qr_code,
        u.phonenumber,
        u.alias,
        u.telephone,
        u.sex,
        u.status,
        u.del_flag,
        u.login_ip,
        u.login_date,
        u.create_by,
        u.create_time,
        u.remark,
        u.sync_switch,
        u.sync_status,
        d.dept_id,
        d.parent_id,
        d.dept_name,
        d.order_num,
        d.status as dept_status,
        r.role_id,
        r.role_name,
        r.role_key,
        r.role_sort,
        r.data_scope,
        r.status as role_status,
        u.sync_switch,
        u.address,
        dr.post_id,
        dr.is_leader,
        p.post_name,
        dr.order_num AS du_order_num
        from sys_user u
        left join sys_user_dept dr on u.user_id = dr.user_id
        <if test="params.dataScope != null">
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </if>
        left join sys_post p on p.post_id = dr.post_id
        left join sys_dept d on d.dept_id = dr.dept_id
        left join sys_user_role ur on u.user_id = ur.user_id
        left join sys_role r on r.role_id = ur.role_id
        where u.user_id = #{userId}
        order by dr.order_line

    </select>

    <select id="checkUserNameUnique" parameterType="String" resultType="int">
        select count(1)
        from sys_user
        where user_name = #{userName}
        limit 1
    </select>

    <select id="checkPhoneUnique" parameterType="String" resultMap="SysUserResult">
        select user_id, phonenumber
        from sys_user
        where phonenumber = #{phonenumber}
        limit 1
    </select>

    <select id="checkEmailUnique" parameterType="String" resultMap="SysUserResult">
        select user_id, email
        from sys_user
        where email = #{email}
        limit 1
    </select>
    <select id="getUserSize" resultType="java.lang.Integer">
        select count(user_id)
        from sys_user
    </select>

    <insert id="insertUser" parameterType="com.lead.common.core.domain.entity.SysUser" useGeneratedKeys="true"
            keyProperty="userId">
        insert into sys_user(
        <if test="userId != null and userId != 0">user_id,</if>
        <if test="userName != null and userName != ''">user_name,</if>
        <if test="nickName != null and nickName != ''">nick_name,</if>
        <if test="email != null and email != ''">email,</if>
        <if test="avatar != null and avatar != ''">avatar,</if>
        <if test="phonenumber != null and phonenumber != ''">phonenumber,</if>
        <if test="alias != null and alias != ''">alias,</if>
        <if test="qrCode != null and qrCode != ''">qr_code,</if>
        <if test="sex != null and sex != ''">sex,</if>
        <if test="password != null and password != ''">password,</if>
        <if test="status != null and status != ''">status,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        <if test="remark != null and remark != ''">remark,</if>
        <if test="telephone != null and telephone != ''">telephone,</if>
        <if test="address != null and address != ''">address,</if>
        <if test="syncSwitch != null">sync_switch,</if>
        <if test="syncStatus != null">sync_status,</if>
        create_time
        )values(
        <if test="userId != null and userId != ''">#{userId},</if>
        <if test="userName != null and userName != ''">#{userName},</if>
        <if test="nickName != null and nickName != ''">#{nickName},</if>
        <if test="email != null and email != ''">#{email},</if>
        <if test="avatar != null and avatar != ''">#{avatar},</if>
        <if test="phonenumber != null and phonenumber != ''">#{phonenumber},</if>
        <if test="alias != null and alias != ''">#{alias},</if>
        <if test="qrCode != null and qrCode != ''">#{qrCode},</if>
        <if test="sex != null and sex != ''">#{sex},</if>
        <if test="password != null and password != ''">#{password},</if>
        <if test="status != null and status != ''">#{status},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        <if test="telephone != null and telephone != ''">#{telephone},</if>
        <if test="address != null and address != ''">#{address},</if>
        <if test="syncSwitch != null">#{syncSwitch},</if>
        <if test="syncStatus != null">#{syncStatus},</if>
        sysdate()
        )
    </insert>

    <update id="updateUser" parameterType="com.lead.common.core.domain.entity.SysUser">
        update sys_user
        <set>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="nickName != null and nickName != ''">nick_name = #{nickName},</if>
            <if test="email != null">email = #{email},</if>
            <if test="phonenumber != null">phonenumber = #{phonenumber},</if>
            <if test="alias != null ">alias = #{alias},</if>
            <if test="qrCode != null and qrCode != ''">qr_code = #{qrCode},</if>
            <if test="sex != null and sex != ''">sex = #{sex},</if>
            <if test="avatar != null and avatar != ''">avatar = #{avatar},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="loginIp != null and loginIp != ''">login_ip = #{loginIp},</if>
            <if test="loginDate != null">login_date = #{loginDate},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="telephone != null">telephone = #{telephone},</if>
            <if test="address != null">address = #{address},</if>
            <if test="syncSwitch != null">sync_switch = #{syncSwitch},</if>
            <if test="syncStatus != null">sync_status = #{syncStatus},</if>
            update_time = sysdate()
        </set>
        where user_id = #{userId}
    </update>

    <update id="updateUserAvatar" parameterType="com.lead.common.core.domain.entity.SysUser">
        update sys_user
        set avatar = #{avatar}
        where user_name = #{userName}
    </update>

    <update id="resetUserPwd" parameterType="com.lead.common.core.domain.entity.SysUser">
        update sys_user
        set password = #{password}
        where user_name = #{userName}
    </update>
    <update id="updataSyncStatusByUsername">
        update sys_user
        set sync_status = 1
        where user_name = #{username}
    </update>

    <delete id="deleteUserById" parameterType="Long">
        delete
        from sys_user
        where user_id = #{userId}
    </delete>

    <delete id="deleteUserByIds" parameterType="Long">
        update sys_user set del_flag = '2' where user_id in
        <foreach collection="array" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

    <select id="pageUserList" parameterType="com.lead.common.core.domain.entity.SysUser" resultMap="SysUserListResult">
        select
        u.user_id,u.sex,u.user_name,u.nick_name,u.alias,u.phonenumber,u.email,u.telephone,u.status,u.qr_code,
        u.create_time,u.create_by,u.update_time,u.update_by,
        ud2.dept_names, ud2.dept_ids, ud2.orders, ud2.is_leader_in_dept
        from sys_user u
        left join sys_user_dept ud ON u.user_id=ud.user_id
        LEFT JOIN sys_dept d on d.dept_id = ud.dept_id
        left join sys_user_role ur on u.user_id = ur.user_id
        left join sys_role r on r.role_id = ur.role_id
        LEFT JOIN (SELECT dd.user_id,
        GROUP_CONCAT(sd.full_name SEPARATOR ';') AS dept_names,
        GROUP_CONCAT(dd.dept_id) AS dept_ids,
        GROUP_CONCAT(dd.order_num) AS orders,
        GROUP_CONCAT(dd.is_leader) AS is_leader_in_dept
        from sys_user_dept dd LEFT JOIN sys_dept sd on sd.dept_id = dd.dept_id GROUP BY dd.user_id
        ) ud2 on ud2.user_id = u.user_id
        <if test="deptId != null">
            LEFT JOIN sys_user_dept ud3 ON ud3.user_id = u.user_id AND ud3.dept_id = #{deptId}
        </if>
        <where>
            <if test="deptId != null">
                and (ud.dept_id = #{deptId} or ud.dept_id in ( SELECT t.dept_id FROM sys_dept t WHERE
                find_in_set(#{deptId}, ancestors)))
            </if>
            <if test="searchValue != null and searchValue != ''">
                and u.alias like concat('%', #{searchValue}, '%')
            </if>
            <if test="nickName != null and nickName != ''">
                and u.nick_name like concat('%', #{nickName}, '%')
            </if>
            <if test="phonenumber != null and phonenumber != ''">
                and u.phonenumber like concat('%', #{phonenumber}, '%')
            </if>
            <if test="status != null and status != ''">
                and u.status = #{status}
            </if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
        GROUP BY u.user_id
        ORDER BY
        <if test="deptId != null">
            max(ud3.dept_id) desc, max(ud3.order_num) desc,
        </if>
        min(d.parent_id),min(d.order_num) desc, max(ud.order_num) desc, CONVERT(u.nick_name USING gbk) ASC
    </select>
    <select id="selectUserRoleIds" resultType="java.lang.Long">
        select role_id
        from sys_user_role
        where user_id = #{userId}
    </select>


    <select id="importSelectUserList" parameterType="com.lead.common.core.domain.entity.SysUser"
            resultType="com.lead.common.core.domain.vo.SysUserVo">
        select GROUP_CONCAT(d.full_name SEPARATOR ';') AS depts,
               u.user_id                               as userId,
               u.nick_name                             as nickName,
               u.user_name                             as userName,
               u.email,
               u.phonenumber,
               u.telephone,
               u.sex,
               u.status,
               u.login_ip                              as loginIp,
               u.login_date                            as loginDate
        from sys_user u
                 left join sys_user_dept dr on u.user_id = dr.user_id
                 left join sys_dept d on d.dept_id = dr.dept_id
        where u.del_flag = '0'
        GROUP BY u.user_id
    </select>

    <select id="selectUserDeptNameByUserId" parameterType="com.lead.common.core.domain.entity.SysUser"
            resultType="com.lead.common.core.domain.entity.SysDept">
        select d.dept_id,
               d.dept_name
        from sys_user u
                 left join sys_user_dept ud on u.user_id = ud.user_id
                 left join sys_dept d on d.dept_id = ud.dept_id
        WHERE u.user_id = #{userId}
          and ud.user_id is NOT NULL
        order by ud.order_line
    </select>

    <select id="deptUsers" resultType="com.lead.common.core.domain.vo.ComboBoxVo">
        SELECT su.user_name as id,
        GROUP_CONCAT(ud.dept_id) as value,
        su.nick_name as label
        FROM sys_user su
        LEFT JOIN sys_user_dept ud on ud.user_id = su.user_id
        <if test="deptId != null">
            WHERE ud.dept_id = #{deptId}
        </if>
        GROUP BY ud.user_id
    </select>


</mapper> 